.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "menu page";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
}

.menu {
  grid-area: menu;
  border-right: 1px solid #e8e8e8;
}

.page {
  grid-area: page;
  background-color: white;
  padding: 1rem 0;
}

.user {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__properties {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
}
